.page__stripes.graybackground
  .top-regist
    .top-regist__inner
      .top-regist__unit
        %p.top-regist__title-guide 新規アカウント登録して頂いた方全員に
        %p.top-regist__everyone もれなく
        %span.top-regist__title ¥
        %span.top-regist__title-large 1,000
        %span.top-regist__title-small 相当のポイントをプレゼント！
      .top-regist__all-space 全てのスペースにご利用可能です
      .top-regist__text
        %span.top-regist__slash-white ＼
        %span.top-regist__slash おトクにスペースを借りてみよう！
        %span.top-regist__slash-white ／
    .top-regist__button_wrap
      = link_to "新規アカウント登録はこちら", new_user_registration_path, class: "top-regist__button"
