= render 'new_space/header_float'
.main-contents-with-hint__inner
  = form_for @description, url: { action: 'update' }, html: { class: 'main-contents-with-hint__wrapper' } do |f|
    = render partial: 'form', locals: { f: f, edit_flag: true }
