%div
  .error__main
    = image_tag("https://cdn.spacemarket.net/assets/service/error/error_main-visual-1bbf5b85a187477e54a9b689637f5d21.png", height: '205', width: '194')
    .error__title 指定されたページは見つかりませんでした。
    = link_to "スペースマーケット トップへ", root_path, class: "btn btn-default error__button" 
