.float-bottom__container
  .float-bottom__line
  .float-bottom__content
    %a.btn.btn-default.button-base__button-component.gray-btn
      %span.button-base__button-inner 保存して戻る
    %a.btn.btn-default.button-base__button-component.green-btn
      %span.button-base__button-inner 保存して進む
