.float-head-base__wrapper
  .float-head-base__left-contents
    %div
      .title 新規スペースの作成
  .float-head-base__additional-contents
    .float-head-room-create-flow__flow-arrows-container
      %ul.flow-arrows__container
        %li.flow-arrows__flow-arrow.step-one
          1 施設情報 
        %li.flow-arrows__flow-arrow.step-two
          2 基本情報
        %li.flow-arrows__flow-arrow.step-three
          3 説明文
        %li.flow-arrows__flow-arrow.step-four
          4 写真
        %li.flow-arrows__flow-arrow.step-five
          5 プラン
