$page: #f6f6f6;
$box: #fff;
$current_step: #60df52;
$inner_frame: #eaeaea;
$facebook: #305097;
$facebook_border: #142b5f;
$btn: #4abfe6;
$text: #333333;
$label: #999999;
$dash: #dddddd;
$required: #e95175;
$hostBlack: #333333;
$gray: #999999;
$grayBorder: #b3b3b3;
$hostGreen: #60df52;
$greenBackground: #eaf8e9;
$edit-publish-border: #d1d1d1;
