.main-contents {
  width: 100%;
  &__contents {
    width: 810px;
    padding: 80px 0;
    margin: 0 auto;
  }
}
.flow-header {
  &__container {
    text-align: center;
  }
  &__title {
    font-size: 28px;
    font-weight: bold;
  }
  &__description {
    margin-top: 24px;
    color: $gray;
    font-size: 13px;
  }
}
.status-page {
  &__container {
    margin-top: 40px;
  }
  &__message-wrapper {
    background-color: $greenBackground;
    border: 1px solid $hostGreen;
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 20px;
  }
  &__bottom {
    margin-top: 20px;
    padding: 10px;
    &__text {
      &__container {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }
    &__button {
      &__inner {
        background-color: $card-border;
        margin-top: 20px;
        color: $white;
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        &:hover, &:focus {
          color: $white;
        }
      }
    }
  }
}
#publish-btn {
  outline: none;
  &:active, &:focus {
    border: none;
  }
}
.to-publish {
  background-color: $required;
}
.published {
  background-color: $hostGreen;
  line-height: 50px;
}
.edit-publish-feature {
  &__container {
    border: 1px solid $card-border;
  }
}
.setting-row {
  &__container {
    display: flex;
    padding: 12px 0;
  }
  &__head {
    width: 50px;
  }
  &__status {
    border-radius: 3px;
    text-align: center;
    padding: 1px 10px;
  }
  &__item-name {
    width: 300px;
    margin-left: 20px;
    font-size: 16px;
  }
  &__link-text-wrapper {
    width: 50px;
    line-height: 24px;
    a {
      color: $hostGreen;
      font-size: 14px;
    }
  }
}
.status-ok {
  color: $hostGreen;
  border: 1px solid $hostGreen;
}
.status-ng {
  color: $required;
  border: 1px solid $required;
}
.publish-feature-card {
  &__container {
    padding: 24px;
  }
  &__icon-wrapper {
    width: 45px;
    height: 45px;
    font-size: 45px;
    display: inline-block;
  }
  &__label-container {
    display: inline-block;
    padding-left: 20px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__caption {
    font-size: 12px;
    color: $gray;
  }
  &__border {
    margin: 0 24px;
    height: 1px;
    background-color: $card-border;
    border: none;
  }
}
