.site-header__sponsoredmatch.site-header__sponsoredmatch_type1 {
  height: 60px;
  padding: 0px 15px;
  background: linear-gradient(90deg,#c3eb25 0,#86d542 30%,#2cbc6c);
  .site-header__sponsoredmatch.site-header__sponsoredmatch_type1 {
    background: none;
    margin: 0 auto;
    width: 450px;
    .site-header__sponsoredmatch.site-header__sponsoredmatch_type1 {
      height: 60px;
    }
  }
}

.site-header {
  background-color: transparent;
  border-bottom: none;
  position: absolute;
  left: 0px;
  right: 0px;
  height: auto;
  .fl {
    float: left;
    width: 34px;
  }
  &__logo {
    display: block;
    width: 34px;
    height: 34px;
    margin: 6px;
    background: url("//cdnspacemarket.com/packs-production/logo-97ba15ef372a4d1fd3134bd49ea9f558.svg") no-repeat;
    background-size: 172px 29px;
    background-position: 5px 4px;
    text-indent: -9999px;
  }
  &__nav {
    float: right;
    height: 46px;
    margin-right: 12px;
    line-height: 46px;
    &-user {
      height: 30px;
      width: 30px;
      border-radius: 34px;
    }
    &-message {
      color: rgb(190, 190, 190);
      font-size: 25px;
      i.fa.fa-envelope {
        color: rgb(190, 190, 190);
      }
    }
    &-favorite {
      border-left-style: solid;
      border-left-width: 1px;
      border-left-color: rgb(234, 234, 234);
      padding-top: 4px;
      padding-left: 16px;
    }
    li {
      display: block;
      position: relative;
      float: right;
      margin: 0 8px;
      a {
        color: rgb(51, 51, 51);
        font-weight: 400;
      }
    }
    li:link {
      color: rgb(51, 51, 51);
    }
    li:visited {
      color: rgb(51, 51, 51);
    };
  }
}

.site-main {
  .top-mv {
    padding-top: 100px;
    padding-bottom: 24px;
    .service-logo {
      display: block;
      width: 360px;
      height: 58px;
      margin: auto;
      background: url("//cdnspacemarket.com/packs-production/logo-97ba15ef372a4d1fd3134bd49ea9f558.svg") no-repeat;
      background-size: 360px 58px;
      //background-position: 5px 4px;
      text-indent: -9999px;
    }
    .top-information__sub {
      text-align: center;
      margin-top: 24px;
      font-size: 16px;
    }
    .page__information {
      height: 280px;
      .top-menu__container {
        padding-bottom: 24px;
        .container {
          ul.row {
            margin: 0px -12px;
            text-align: center;
            li.top-menu__list.col-xs-4 {
              padding: 0px 12px;
              height: 100px;
              width: 369px;
              a.top-menu__list-button.mdc-elevation--z2 {
                background-color:rgb(246, 246, 246);
                box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
                color:rgb(74, 191, 230);
                cursor:pointer;
                display:block;
                margin-top:20px;
                min-height:63px;
                padding: 22px 20px;
                text-align:left;
                text-decoration: none;
                .top-menu__list-button-img {
                  height: 36px;
                }
                .top-menu__list-button-text {
                  margin-left: 12px;
                  color: rgb(51, 51, 51);
                  font-weight: 700;
                  font-size: 18px;
                  vertical-align: top;
                  position: relative;
                  .top-menu__list-button-num {
                    color: rgb(163, 163, 163);
                    font-size: 8px;
                    font-weight: 300;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                  }
                }
                i.fa.fa-angle-right.yajirusi {
                  position: absolute;
                  right:24px;
                  top:50px;
                  font-size: 18px;
                }
              }
            }
          }
        }
        .container {
          ul.row {
            li.top-menu__list.top-menu__list-second.col-xs-3 {
              padding: 0px 12px;
              height: 100px;
              width: 276.5px;
              a.top-menu__list-button.mdc-elevation--z2 {
                background-color:rgb(246, 246, 246);
                box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
                color:rgb(74, 191, 230);
                cursor:pointer;
                display:block;
                margin-top:20px;
                min-height:63px;
                padding: 22px 20px;
                text-align:left;
                text-decoration: none;
                .top-menu__list-button-img {
                  height: 36px;
                }
                .top-menu__list-button-text {
                  margin-left: 12px;
                  color: rgb(51, 51, 51);
                  font-weight: 700;
                  font-size: 18px;
                  vertical-align: top;
                  position: relative;
                  .top-menu__list-button-num {
                    color: rgb(163, 163, 163);
                    font-size: 8px;
                    font-weight: 300;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                  }
                }
                i.fa.fa-angle-right.yajirusi {
                  position: absolute;
                  right:24px;
                  top:50px;
                  font-size: 18px;
                }
              }
              select.w100pa.js-select__transparent {
                display: none;
              }
            }
          }
        }
      }
      .top-menu__other-search {
        text-align: center;
        height: 38px;
        line-height: 14px;
        .top-menu__icon {
          height: 38px;
          display: inline-block;
          h3.top-menu__other-ttl {
            display: inline-block;
            font-size: 13px;
            text-align: center;
            margin:0px 32px 0px 0px;
            font-weight: 700;
            vertical-align: baseline;
          }
         ul.top-flow__list {
            padding: 0;
            border: 0;
            display: inline-block;
            font: inherit;
            vertical-align: baseline;
            li {
              display: inline-block;
              a {
                color: rgb(74, 191, 230);
              }
            }
            li.left-border {
              padding-left: 32px;
              margin-left: 32px;
              border-left-style: solid;
              border-left-width: 1px;
            }
          }
        }
      }
    }
  }
}
