.hostcolor {
  background-color: $hostBlack;
  color: $white;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.float-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.float-head-base {
  &__wrapper {
    background-color: $white;
    padding: 16px 12px;
    width: 100%;
    height: 74px;
    top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    position: fixed;
    z-index: 2;
  }
  &__additional-contents {
    width: 500px;
  }
}
.flow-arrows__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-contents-with-hint {
  &__inner {
    padding: 150px 12px;
  }
  &__wrapper {
    padding: 56px 0;
    max-width: 810px;
    margin: 0 auto;
  }
  &__main-wrapper {
    width: 100%;
  }
  &__main {
    max-width: 500px;
  }
}
.space-info-page {
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__description {
    font-size: 11px;
    color: $gray;
    margin-top: 8px;
  }
}
.create-space-sections {
  &__section {
    margin-top: 40px;
  }  
  &__from-wrapper {
    margin-top: 24px;
  }
  &__form-item-map-wrapper {
    width: 500px;
    height: 300px;
    background-color: skyblue;
  }
}
.form-section-title {
  &__title-container {
    display: inline-flex;
    align-items: center;
    height: 21px;
  }
  &__required-label {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    color: $white;
    background-color: $required;
    font-size: 12px;
    width: 32px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 1px;
  }
  &__title {
    margin-top: 1px;
    margin-left: 8px;
    height: 21px;
    line-height: 21px;
    font-size: 18px;
  }
  &__description {
    color: $gray;
    margin-top: 8px;
    font-size: 11px;
    white-space: pre-wrap;
  }
}
.input-container__container {
  display: inline-block;
  width: 100%;
}
.ant-input, .ant-select {
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid $grayBorder;
  color: $hostBlack;
  width: 100%;
  height: 40px;
  padding: 6px 11px;
  margin: 0 10px;
  &-lg, &-lg {
    width: 150px;
  }
  &-wd {
    width: 300px;
  }
  &-sm {
    width: 100px;
  }
  &-area {
    height: 160px;
  }
}
.form-item {
  &__footer-wrapper {
    margin-top: 8px;
  }
  &__footer {
    font-size: 11px;
    color: $gray;
    margin-left: 10px;
  }
  &__errors-wrapper {
    margin-top: 8px;
    color: $required;
  }
}
.parts-container {
  display: flex;
  justify-content: flex-start;
  &__container {
    padding: 8px 4px;
    margin-right: 2px;
  }
}
.not-required {
  background-color: $gray;
}
.radio-list__wrapper {
  display: inline-block;
  margin: 24px 0 0 12px;
  width: 138px;
  vertical-align: top;
}
.ant-radio {
  float: left;
  padding-right: 20px;
  cursor: pointer;
  &-wrapper {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    white-space: normal;
  }
  //FIXME ラジオボタン工事中
  // &-inner {
  //   display: block;
  //   width: 20px;
  //   height: 20px;
  //   border: 1px solid #d9d9d9;
  //   border-color: $grayBorder;
  //   border-radius: 100px;
  //   position: relative;
  //   &-checked::after {
  //     position: absolute;
  //     top: 4px;
  //     left: 4px;
  //     width: 10px;
  //     height: 10px;
  //     background-color: $hostGreen;
  //     border-radius: 10px;
  //   }
  // }
}
// input[type=radio] {
//   display: none;
// }
.float-bottom {
  &__container {
    position: fixed;
    bottom: 0;
    height: 74px;
    background-color: $white;
    z-index: 2;
    width: 100%;
    max-width: 810px;
    text-align: left;
    margin-top: 100px;
  }
  &__line {
    border-top: 1px solid $grayBorder;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
}
.button-base {
  &__button-component {
    width: 160px;
    height: 40px;
    text-align: center;
    padding: 0 8px;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    color: $white;
    border: none;
  }
}
.gray-btn {
  background-color: $gray;
}
.green-btn {
  background-color: $hostGreen
}
.photo-form {
  &__from-wrapper {
    margin-top: 24px;
  }
  &__add {
    height: 15px;
    &__mask {
      cursor: pointer;
      color: $hostGreen;
    }
  }
}
input[type="file"] {
  display: none;
}
.photocard {
  &__container {
    border: 1px solid $grayBorder;
    box-sizing: border-box;
    height: 140px;
    display: flex;
    margin-top: 10px;
  }
  &__photo {
    width: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: $label;
    color: $box;
    font-size: 20px;
    padding-top: 15px;
    $int: 0, 1, 2, 3, 4;
    @each $i in $int {
      #preview#{$i} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
      }
    }
    .fa-image {
      font-size: 110px;
    }
  }
  &__text {
    width: 300px;
    &__textarea {
      padding: 12px;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
.price-setting-list {
  &__list-item {
    height: 80px;
    width: 100%;
    padding: 24px 0;
    display: flex;
    align-items: center;
    border-top: solid 1px $grayBorder;
  }
  &__head {
    width: 280px;
    display: flex;
  }
  &__title {
    width: 100px;
  }
  &__switch {
    width: 100px;
  }
  &__title-content {
    font-size: 14px;
    font-weight: bold;
  }
  &__content {
    width: 100%;
  }
  &__form-wrapper {
    display: flex;
    align-items: center;
  }
}
.last-item {
  border-bottom: solid 1px $grayBorder;
}
input:focus, select:focus, textarea:focus {
  outline: 0;
}
input:focus, select:focus, textarea:focus {
  border: solid 1px $hostGreen;
}
input::placeholder {
  color: $gray;
}
