* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.breadcrumbs {
  font-size: 10px;
  padding: 8px;
  ol {
    margin: 0px;
    li {
      display: inline;
      margin-right: 5px;
    }
    li.underlayer:before {
      margin-right: 5px;
      content: ' > ';
    }
  }
}
.page__even{
  background: #f6f6f6;
  .signup-head {
    text-align: center;
    width: calc(100vw - 40px);
    margin: 0 20px;
    padding-top: 40px;
    .page-title {
      font-weight: bold;
      font-size: 32px;
      display: inline-block;
      margin-bottom: 24px;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      .signup-step {
        margin: 20px 0 0;
        width: 100vw;
        max-width: 810px;
        li {
          background: #FFF;
          padding: 10px 0;
          border: 2px solid #FFF;
          text-align: center;
          width: 32%;
          position: relative;
          line-height: 14px;
        }
        .is-current {
          border-color: #60df52;
          color: #60df52;
        }
        .is-current:after {
          border-color: #60df52;
        }
        &__status1 {
          float: left;
          z-index: 2;
        }
        &__status2 {
          margin: auto;
          z-index: 1;
        }
        &__status3 {
          float: right;
          z-index: 1;
        }
        &__status2:before, &__status3:before {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          background: #f6f6f6;
          top: 4px;
          left: -13px;
          border-top: 2px solid #f6f6f6;
          border-right: 2px solid #f6f6f6;
          -webkit-transform: rotate(45deg);
          z-index: -2;
        }
        &__status1:after, &__status2:after {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          background: #FFF;
          top: 4px;
          right: -15px;
          border-top: 2px solid #FFF;
          border-right: 2px solid #FFF;
          -webkit-transform: rotate(45deg);
          z-index: -1;
        }
      }
    }
  }
}
.signup-box {
  text-align: center;
  width: calc(100vw - 40px);
  margin: 32px 20px 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    .inner {
      //margin: 20px 0;
      width: 100vw;
      //padding-bottom: 8px;
      max-width: 810px;
      margin: 0px;
      padding: 24px 16px;
      background: #fff;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      .signup-box__title {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 32px;
        line-height: 1.2;
      }
      .signup-box__wrapper {
        width: 565px;
        margin: 0 auto;
        &-fb {
          width: 300px;
          margin: 0 auto 30px;
          .button-facebook {
            background: #305097;
            border-bottom: 1px solid #142b5f;
            display: block;
            color: #FFF;
            border-radius: 3px;
            font-weight: bold;
            position: relative;
            width: 100%;
            padding: 15px 0;
            &:hover {
              opacity: 0.8;
            }
          }
          .button-facebook:before {
            content: "\f082";
            font-family: FontAwesome;
            position: absolute;
            z-index: 1;
            font-size: 18px;
            left: 20px;
            top: 14px;
            font-weight: normal;
          }
        }
        .signup-box__notes {
          line-height: 1.4;
          text-align: center;
          a {
            color: #4abfe6;
            text-decoration: none;
          }
          a:hover {
            color: #4abfe6;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.signup-box__wrapper-form {
  width: 400px;
  margin: 0 auto;
  .field {
    padding: 0;
    margin-bottom: 25px;
    position: relative;
    .field-label {
      color: #999999;
      //color: #4abfe6;
      font-weight: lighter;
      font-size: 12px;
      top: 4px;
      visibility: visible;
      text-align: left;
      label {
        position: absolute;
        top: -0.8em;
        line-height: 1;
      }
      .field-label-name {
        top: 0.2em;
      }
    }
    .field-input {
      margin-top: 15px;
      input {
        border: none;
        border-bottom: 1px solid #eaeaea;
        display: block;
        font-size: 14px;
        margin: 0;
        padding: 4px 0;
        width: 100%;
        background: none;
        text-align: left;
        color: inherit;
      }
      input:focus {
        outline: 0;
      }
      //.signin {
      //  width: 300px;
      //}
    }
  }
  .signup-box__wrapper-form__notes {
    line-height: 1.4;
    text-align: center;
    a {
      color: #4abfe6;
      text-decoration: none;
    }
    a:hover {
      color: #4abfe6;
      text-decoration: underline;
    }
  }
  .last {
    width: 47%;
    float: left;
    margin-bottom: 0;
  }
  .first {
    width: 47%;
    float: right;
    margin-bottom: 0;
  }
  .email {
    margin-top: 23px;
  }
  .icon {
    border-bottom: 1px dashed rgba(0,0,0,0.12);
    padding-bottom: 20px;
    margin: 20px 0 20px;
    height: 140px;
    .prof-label {
      color: #999999;
      //color: #4abfe6;
      font-weight: lighter;
      font-size: 12px;
      top: 4px;
    }
    .box {
      padding-left: 255px;
      .square {
        width: 120px;
        height: 116px;
        background: #999999;
        text-align: center;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        .fa-camera {
          font-size: 75px;
          padding-top: 25px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .signin {
    width: 300px;
    margin: 0 auto;
    .field {
      padding: 0;
    }
  }
}

#inner-signin {
  padding: 0 16px;
  .more-inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .left-content {
      width: 400px;
      padding: 0 50px 10px;
      border-right: 1px solid #eaeaea;
      .signup-box__wrapper-signin {
        margin: 0 auto;
        .signup-box__notes-signin {
          width: 300px;
          margin: 0 auto;
          text-align: left;
        }
      }
    }
    .right-content {
      width: 400px;
      padding: 0 50px 10px;
      .form-signin {
        width: 300px;
        .signup-box__forget-password {
          color: #4abfe6;
          line-height: 60px;
          &:hover {
            text-decoration: underline solid #4abfe6;
          }
        }
      }

    }
  }
}



.fa-check-square {
  color: #4abfe6;
  font-size: 16px;
}

.btn {
  width: 300px;
  height: 45px;
  background: #4abfe6;
  color: #fff;
  font-weight: bold;
  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.signup-box__existing-account {
  margin-top: 0px;
  font-weight: bold;
  .signup-box__existing-account-linktxt {
    color: #4abfe6;
    padding-top: 1px;
    &:hover {
      text-decoration: underline solid #4abfe6;
    }
  }
  .black {
    color: black;
  }
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

.signup-box__biz-account {
  margin-top: 10px;
  padding-bottom: 40px;
  .container {
    .inner {
      position: relative;
      margin: 0 12px;
      display: flex;
      padding: 30px 30px 30px 40px;
      .description {
        padding: 0 12px;
        .signup-box__biz-newlabel {
          display: inline-block;
          background: #f5d02c;
          color: #fff;
          font-size: 12px;
          letter-spacing: 1px;
          padding: 8px 10px;
          position: absolute;
          top: 10px;
          left: -15px;
        }
        .signup-box__title {
          margin: 0;
          text-align: left;
          line-height: 1.4;
          padding-left: 15px;
          font-size: 15px;
          width: 293px;
          .signup-box__biz-account-free {
            color: #999999;
          }
        }
      }
      .arrow {
        line-height:42px;
        padding-left: 40px;
      }
      .btn {
        position: absolute;
        right: 55px;
        line-height: 30px;
        color: #fff;
      }
    }
  }
}
.signup-box__required-name {
  color: #e95175;
  font-size: 12px;
  margin-bottom: 17px;
  line-height: 1.4;
  text-align: left;
}
.signup-box__required {
  color: #e95175;
  font-size: 12px;
  margin-bottom: 40px;
  line-height: 1.4;
  text-align: left;
}

