.top-static__banner
  .top-static__banner__container
    %h3.top-static__banner-title あなたもホストになってみませんか
    %p.top-static__banner-text お持ちのスペースを今すぐ有効活用。あらゆるスペースが登録可能です。
    %a.btn.btn-default.top-static__banner-button もっと詳しく
