%footer
  .FooterExternal__SiteFooterExternal-sc-19ksnei-0.doWntq
    .container
      %ul
        %li.col-xs-12.col-sm-4.col-md-4
          .FooterExternal__FooterExternalHead-sc-19ksnei-1.fTzhAy
            %a.FooterExternal__FooterExternalLink-sc-19ksnei-3.jMJshC{:href => "https://stay.spacemarket.com"}
              %picture
                %source.OptimizedImage__Source-cm63h6-4.bvXIiJ{:srcset => "https://cdnspacemarket.com/packs-production/images/footer/logo_stay-aee23c4b01.png?of=webp", :type => "image/webp"}
                  %img.OptimizedImage__Image-cm63h6-0.dvRLXZ{:alt => "SPACEMARKET STAY", :height => "15", :src => "//cdnspacemarket.com/packs-production/images/footer/logo_stay-aee23c4b01.png", :width => "192"}/
              %span.FooterExternal__FooterExternalIconLabel-sc-19ksnei-4.gHflXc
                民泊・宿泊予約
                %i.fa.fa-external-link.FooterExternal__FooterExternalIcon-sc-19ksnei-5.lcTBQy
          %p.FooterExternal__FooterExternalText-sc-19ksnei-2.ekhGMB 観光からビジネスまで安心して予約できる民泊物件・宿泊施設を多数掲載
        %li.col-xs-12.col-sm-4.col-md-4
          .FooterExternal__FooterExternalHead-sc-19ksnei-1.fTzhAy
            %a.FooterExternal__FooterExternalLink-sc-19ksnei-3.jMJshC{:href => "https://blog.spacemarket.com/"}
              %picture
                %source.OptimizedImage__Source-cm63h6-4.bvXIiJ{:srcset => "https://cdnspacemarket.com/packs-production/images/footer/logo_blog-5a79ec86d4.png?of=webp", :type => "image/webp"}
                  %img.OptimizedImage__Image-cm63h6-0.dvRLXZ{:alt => "SPACEMARKET BLOG", :height => "15", :src => "//cdnspacemarket.com/packs-production/images/footer/logo_blog-5a79ec86d4.png", :width => "187"}/
              %span.FooterExternal__FooterExternalIconLabel-sc-19ksnei-4.gHflXc
                開発ブログ
                %i.fa.fa-external-link.FooterExternal__FooterExternalIcon-sc-19ksnei-5.lcTBQy
          %p.FooterExternal__FooterExternalText-sc-19ksnei-2.ekhGMB スペースマーケットサービス開発チームによる開発ブログ
        %li.col-xs-12.col-sm-4.col-md-4
          .FooterExternal__FooterExternalHead-sc-19ksnei-1.fTzhAy
            %a.FooterExternal__FooterExternalLink-sc-19ksnei-3.jMJshC{:href => "https://beyond.spacemarket.com/"}
              %picture
                %source.OptimizedImage__Source-cm63h6-4.bvXIiJ{:srcset => "https://cdnspacemarket.com/packs-production/images/footer/logo_beyond-892177a15e.png?of=webp", :type => "image/webp"}
                  %img.OptimizedImage__Image-cm63h6-0.dvRLXZ{:alt => "BEYOND", :height => "15", :src => "//cdnspacemarket.com/packs-production/images/footer/logo_beyond-892177a15e.png", :width => "87"}/
              %span.FooterExternal__FooterExternalIconLabel-sc-19ksnei-4.gHflXc
                利用事例
                %i.fa.fa-external-link.FooterExternal__FooterExternalIcon-sc-19ksnei-5.lcTBQy
          %p.FooterExternal__FooterExternalText-sc-19ksnei-2.ekhGMB スペース利用事例やホストへのインタビュー等、生の声をお届け
  .FooterBottom__SiteFooterBottom-sc-1p4wsh6-0.btamGj
    .container
      .row.site-footer__nav-header
        .footer-logo
          .FooterBottom__ServiceLogo-sc-1p4wsh6-10.gpGQQn
        .footer-entry-btn
          %a.pt15.pb15.w100pa.button-blue{:href => "https://www.spacemarket.com/i/sign_up"} アカウント登録する
        .footer-entry-btn
          %a.pt15.pb15.w100pa.button-green{:href => "https://www.spacemarket.com/pages/host_entry"} ホスト登録する
      .site-footer__nav
        %div
          %h3.site-footer__nav-title.sm-hide__guteter 目的から探す
          %ul.site-footer__nav-link.sm-hide__guteter
            %li
              %a{:href => "https://www.spacemarket.com/event_types/party"} パーティー
            %li
              %a{:href => "https://www.spacemarket.com/event_types/class"} 会議
            %li
              %a{:href => "https://stay.spacemarket.com/search"} 民泊
            %li
              %a{:href => "https://www.spacemarket.com/event_types/photo_shoot"} 写真撮影
            %li
              %a{:href => "https://www.spacemarket.com/event_types/film_shoot"} ロケ撮影
            %li
              %a{:href => "https://www.spacemarket.com/event_types/studio"} 個展・展示会
            %li
              %a{:href => "https://www.spacemarket.com/event_types/performance"} 演奏
            %li
              %a{:href => "https://www.spacemarket.com/event_types/sports"} スポーツ
        %div
          %h3.site-footer__nav-title.sm-hide__guteter カテゴリーから探す
          %ul.site-footer__nav-link.sm-hide__guteter
            %li
              %a{:href => "https://www.spacemarket.com/event_types"} 目的から探す
            %li
              %a{:href => "https://www.spacemarket.com/areas"} エリアから探す
            %li
              %a{:href => "https://www.spacemarket.com/capacities"} 人数から探す
            %li
              %a{:href => "https://www.spacemarket.com/space_types"} 会場タイプから探す
            %li
              %a{:href => "https://www.spacemarket.com/amenities"} アメニティから探す
        %div
          %h3.site-footer__nav-title.sm-hide__guteter ご利用ガイド
          %ul.site-footer__nav-link.site-footer__nav-link-guide.sm-hide__guteter
            %li
              %h4.site-footer__heading ゲスト編
              %ul
                %li
                  %a{:href => "https://www.spacemarket.com/about/how_it_works"} ご利用の流れ
                %li
                  %a{:href => "https://www.spacemarket.com/about/payment_flow"} 決済の流れ
                %li
                  %a{:href => "https://www.spacemarket.com/about/how_to_stay"} 当日の流れ
                %li
                  %a{:href => "https://www.spacemarket.com/about/trust"} 安心への取り組み
            %li
              %h4.site-footer__heading ホスト編
              %ul
                %li
                  %a{:href => "https://www.spacemarket.com/about/listing"} 掲載するには
                %li
                  %a{:href => "https://www.spacemarket.com/about/how_it_works_host"} ご利用の流れ
                %li
                  %a{:href => "https://www.spacemarket.com/about/payment_flow_owner"} 決済の流れ
                %li
                  %a{:href => "https://www.spacemarket.com/about/how_to_host"} 当日の対応
                %li
                  %a{:href => "https://www.spacemarket.com/about/hospitality"} 人気スペースにするには
                %li
                  %a{:href => "https://www.spacemarket.com/about/host_trust"} 信頼への取り組み
                %li
                  %a{:href => "https://www.spacemarket.com/pages/host_entry"} ホスト登録をお考えの方へ
        %div
          %h3.site-footer__nav-title.sm-hide__guteter スペースマーケットについて
          %ul.site-footer__nav-link.sm-hide__guteter
            %li
              %a{:href => "https://www.spacemarket.com/about/app"} スマートフォンアプリ
            %li
              %a{:href => "https://beyond.spacemarket.com/know-how/enterprise-use/?utm_source=footer&utm_medium=referral&utm_campaign=business_lp", :target => "_blank"} 法人のご利用について
            %li
              %a{:href => "https://business.spacemarket.com"} 法人向け管理サービス
            %li
              %a{:href => "https://www.spacemarket.com/about/privacy"} プライバシーポリシー
            %li
              %a{:href => "https://www.spacemarket.com/about/terms"} スペースマーケット利用規約
            %li
              %a{:href => "https://www.spacemarket.com/about/terms_of_space_use"} ゲスト規約
            %li
              %a{:href => "https://help.spacemarket.com/hc/ja/"} よくある質問
            %li
              %a{:href => "https://help.spacemarket.com/hc/ja/categories/204528307"} お問い合わせ
      .site-footer__place-nav
        .row.site-footer__nav.site-footer__place-nav-list
          .col-sm-12.col-md-4
            %h3.site-footer__nav-title.sm-hide__guteter.is-link
              %a{:href => "https://www.spacemarket.com/features/popular_meeting"} 人気の貸し会議室
          .col-sm-12.col-md-8
            %ul.site-footer__nav-link.sm-hide__guteter
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/tokyo"} 東京
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/shibuya-ku--tokyo/stations/1130205"} 渋谷
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/shinjuku-ku--tokyo/stations/1130208"} 新宿
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/toshima-ku--tokyo/stations/1130212"} 池袋
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/shinagawa-ku--tokyo/stations/1130103"} 品川
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/chiyoda-ku--tokyo/stations/1130222"} 秋葉原
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/yokohama-shi--kanagawa/stations/1130105"} 横浜
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/nagoya-shi--aichi/stations/1141101"} 名古屋
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular_meeting/cities/osaka"} 大阪
        .row.site-footer__nav.site-footer__place-nav-list
          .col-sm-12.col-md-4
            %h3.site-footer__nav-title.sm-hide__guteter.is-link
              %a{:href => "https://www.spacemarket.com/features/popular"} 人気のレンタルスペース
          .col-sm-12.col-md-8
            %ul.site-footer__nav-link.sm-hide__guteter
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/tokyo"} 東京
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/kanagawa"} 神奈川
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/chiba"} 千葉
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/aichi"} 愛知
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/osaka"} 大阪
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/kyoto"} 京都
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/popular/cities/fukuoka"} 福岡
        .row.site-footer__nav.site-footer__place-nav-list
          .col-sm-12.col-md-4
            %h3.site-footer__nav-title.sm-hide__guteter.is-link
              %a{:href => "https://www.spacemarket.com/features"} 特集・まとめ
          .col-sm-12.col-md-8
            %ul.site-footer__nav-link.sm-hide__guteter
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/Cnr_fyMpN03A10Ny"} 格安
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/kitchen"} キッチン付き
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/shouninzu"} 少人数
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/offsite_meeting"} オフサイト
              %li.site-footer__place-nav-item
                %a{:href => "https://www.spacemarket.com/features/birthdayparty"} 誕生日
      .row.site-footer__app
        .col-sm-12.col-md-12
          .site-footer__static-app__download-banner
            %a{:href => "https://itunes.apple.com/app/apple-store/id973447544?pt=117136620&ct=spacemarket.com_banner_footer&mt=8", :target => "_blank"}
              %img{:alt => "Download on the App Store", :height => "53", :src => "//cdnspacemarket.com/packs-production/images/common/banner_appstore-62e09aa296.png", :width => "180"}/
            %a{:href => "https://play.google.com/store/apps/details?id=com.spacemarket&referrer=utm_source%3Dspacemarket.com%252F%26utm_medium%3Dreferral%26utm_content%3Dbanner_footer", :target => "_blank"}
              %img{:alt => "GET IT ON Google Play", :height => "55", :src => "//cdnspacemarket.com/packs-production/images/common/banner_googleplay-a66c8605da.png", :width => "180"}/
      .FooterBottom__Links-sc-1p4wsh6-1.eBWDdG
        %ul.FooterBottom__ComList-sc-1p4wsh6-2.kuVulN
          %li.FooterBottom__ComListItem-sc-1p4wsh6-3.fyqDJL
            %a.FooterBottom__ComLink-sc-1p4wsh6-4.ebVrox{:href => "https://spacemarket.co.jp"} 運営会社
          %li.FooterBottom__ComListItem-sc-1p4wsh6-3.fyqDJL
            %a.FooterBottom__ComLink-sc-1p4wsh6-4.ebVrox{:href => "https://spacemarket.co.jp/recruit"} 採用情報
          %li.FooterBottom__ComListItem-sc-1p4wsh6-3.fyqDJL
            %a.FooterBottom__ComLink-sc-1p4wsh6-4.ebVrox{:href => "https://www.spacemarket.com/about/agreement"} 約款
          %li.FooterBottom__ComListItem-sc-1p4wsh6-3.fyqDJL
            %a.FooterBottom__ComLink-sc-1p4wsh6-4.ebVrox{:href => "https://www.spacemarket.com/about/tokushoho"} 特定商取引法に基づく表示
        %ul.FooterBottom__SnsList-sc-1p4wsh6-5.jnxLnT
          %li.FooterBottom__SnsListItem-sc-1p4wsh6-6.bPxKsU
            %a.FooterBottom__Sns-sc-1p4wsh6-7.qXmPJ{:href => "https://www.facebook.com/spacemarketjp", :target => ""}
              %i.fa.fa-facebook-square
          %li.FooterBottom__SnsListItem-sc-1p4wsh6-6.bPxKsU
            %a.FooterBottom__Sns-sc-1p4wsh6-7.qXmPJ{:href => "https://twitter.com/spacemarketjp", :target => ""}
              %i.fa.fa-twitter-square
          %li.FooterBottom__SnsListItem-sc-1p4wsh6-6.bPxKsU
            %a.FooterBottom__Sns-sc-1p4wsh6-7.qXmPJ{:href => "https://www.instagram.com/spacemarketjp/", :target => ""}
              %i.fa.fa-instagram
        .FooterBottom__Copyrights-sc-1p4wsh6-8.atSOv
          %small.FooterBottom__CopyrightsSmall-sc-1p4wsh6-9.ckKOtM
            %img{:alt => "SPACEMARKET", :height => "12", :src => "//cdnspacemarket.com/packs-production/images/footer/logo_spmkt-c5307f00da.png", :width => "113"}/
            © Space Market, Inc.
      .site-footer__language_menu
        %span.site-footer__select
          #google_translate_element
            .skiptranslate.goog-te-gadget{:dir => "ltr", :style => ""}
              %div{:id => ":0.targetLanguage"}>
                %select.goog-te-combo{"aria-label" => "言語翻訳ウィジェット"}
                  %option{:value => ""} 言語を選択
                  %option{:value => "en"} 英語
              Powered by
              %span{:style => "white-space:nowrap"}
                %a.goog-logo-link{:href => "https://translate.google.com", :target => "_blank"}
                  %img{:alt => "Google 翻訳", :height => "14px", :src => "https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png", :style => "padding-right: 3px", :width => "37px"}>/
                  翻訳
          / :javascript
          /   function googleTranslateElementInit() {
          /     new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,ja', autoDisplay: false, gaTrack: true, gaId: 'UA-46693491-1'}, 'google_translate_element');
          /   }
          / %script{:async => "", :src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
