.site-main
  .page__stripes.top-page__padding.graybackground
    .container.top-container
      .top-title__container.clearfix
        %h2.top-title おすすめスペースまとめ
        -# %a.pc-hide_sm-show.top-more__area-link{:href => "#"} すべて見る
      .top-units__container
        .row
          //ここから//
          .col-xs-3.md-matome-list
            %a.a__top-units{:href => "#"}
              .md-top-units
                .md-matome-image
                  %img.md-matome-image__pict{:alt => "キッチンが使えるレンタルスペース・スタジオまとめ", :src => "https://cdnspacemarket.com/uploads/features/31/72590ea9d87dbe358f1ac159efb8699b.jpg"}/
                .md-matome-subtitle キッチンが使えるレンタルスペース・スタジオまとめ
          //ここまで//
          //ここから//
          .col-xs-3.md-matome-list
            %a.a__top-units{:href => "#"}
              .md-top-units
                .md-matome-image
                  %img.md-matome-image__pict{:alt => "手ぶらで貸切バーベキューのできるレンタルスペースまとめ", :src => "https://cdnspacemarket.com/uploads/features/66/b71a1d9a7a6c259ba2d5f871c7f21945.jpg"}/
                .md-matome-subtitle 手ぶらで貸切バーベキューのできるレンタルスペースまとめ
          //ここまで//
          //ここから//
          .col-xs-3.md-matome-list
            %a.a__top-units{:href => "#"}
              .md-top-units
                .md-matome-image
                  %img.md-matome-image__pict{:alt => "室内キャンプ・おうちキャンプができるスペースまとめ", :src => "https://cdnspacemarket.com/uploads/features/273/7c39fa5cfa48487386de29ffbfc7b158.jpg"}/
                .md-matome-subtitle 室内キャンプ・おうちキャンプができるスペースまとめ
          //ここまで//
          //ここから//
          .col-xs-3.md-matome-list
            %a.a__top-units{:href => "#"}
              .md-top-units
                .md-matome-image
                  %img.md-matome-image__pict{:alt => "パジャマパーティー #パジャパ におすすめの女子会部屋まとめ", :src => "https://cdnspacemarket.com/uploads/features/299/7638d3dca2aa1be2e1609177555865b4.png"}/
                .md-matome-subtitle パジャマパーティー #パジャパ におすすめの女子会部屋まとめ
          //ここまで//

      .sm-hide.top-more__area
        %a.top-more__area-link{:href => "#"} おすすめスペースまとめをもっと見る >
