.page__stripes
  .top-regist
    .top-more__area.top-regist__container
      .top-regist__inner
        .top-regist__unit
          %p.top-regist__title-guide 新規アカウント登録して頂いた方全員に
          %p.top-regist__everyone
            %span もれなく
          %h2.top-regist__title ¥
          %span.top-regist__title-large 1,000
          %span.top-regist__title-small 相当のポイントをプレゼント！
        .top-regist__all-space 全てのスペースにご利用可能です
        
        .top-regist__text
        .top-regist__all-space
      .top-regist__button_wrap