.breadcrumbs.link__subcolor.sm-hide
  %ol.itemscope{itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      %a{href: "/", itemprop: "url"}
        %i.ic_home
          ホーム
    %li.underlayer
      %span.breadcrumbs-title{itemprop: "title"}
        新規登録

%section#contents.page_signin
  %section#main_contents
    .site-main
      .page__even.lp-page__padding
        .page__col1
          .signup-head
            %h1.page-title
              アカウント新規登録
            .container
              %ul.signup-step
                %li.signup-step__status1.is-current
                  新規登録
                %li.signup-step__status3
                  登録完了
                %li.signup-step__status2
                  メールアドレスの確認
